# NOTE: This file is in JSPF compatible format
#       http://www.xspf.org/jspf/
playlist:
  track: [
    title: "STREAMCHILENO.CL - Multiple Radios Test",
    location: "https://cp.streamchileno.cl/radio/8040/stream;"
  ]
